* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

li {
  list-style-type: none;
}

.App {
    color: black;
    text-align: center;
    padding: 10px;
}

.container {
    width: 25rem;
    height: 25rem;
    background-color: #f9f9f9;
    overflow: auto;
    scrollbar-color: #ff4d4f #f3f3f3;
    scrollbar-width: thin;
}

.todoHeader {
  text-align: 'center';
  height: 64;
  padding-inline: 48;
  line-height: '64px';
  background-color: #ffffff;
}

